* {
	padding: 0;
	margin: 0;
}


body {
	min-height: 900px;
	position: relative;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #666;
	height: 100%;
	background: url(../images/background.jpg) no-repeat;
	background-size: cover;
	cursor: url(../images/icon/cursor_10.cur), auto;
	background-attachment:fixed;

}

h1, h2 {
    font-family: "SourceHanSerifCNB"!important;
    text-shadow: 0.02em 0.02em 0.05em #999999 !important;
}

h3 {
	font-size: 16px;
	padding: 0;
	font-weight: normal;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: none;
}

ul,
li {
	list-style-type: none;
}

.clearfix {
	clear: both;
}

.box-wrapper {
	width: 1000px;
	margin: 0 auto;
}

#index {
	width: 100%;
}

.btn {
  width: 250px;
  height: 50px;
	line-height: 60px;
	position: absolute;
	font-size: 30px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	left: 50%;
	left: 200px;
	top: 50%;
	top: 250px;
}




.btn a {
	color: #fff;
}

.btn label {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 50px;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgb(51, 51, 51);
	color: aquamarine;
	}

.btn::before {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  width: 0px;
  height: 0;
  z-index: 0;
  background-color: brown;
  transition: width .5s,height .5s;
}

.btn::after {
  content: '';
  position: absolute;
  right: -2px;
  bottom: -2px;
  width: 0;
  height: 0;
  z-index: 0;
  background-color: brown;
  transition: width .5s,height .5s;

  /* width: calc(100% + 4px);
  height: calc(100% + 4px); */
}

.btn:hover {
  color: brown;
}

.btn:hover::before {
  width: calc(100% + 4px);
  height: calc(100% + 4px);
}

.btn:hover::after {
  width: calc(100% + 4px);
  height: calc(100% + 4px);
}

#banner {
	padding-bottom: 40px;
}

#logo {
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 30px;
	padding-top: 50px;
	padding-bottom: 100px;
}

#logo div {
	color: #5f5f5f;
	font-weight: bold;
}

#nav {
	width: 800px;
	margin: 0 auto;
}

#nav ul {
	width: 900px;
}

#nav li {
	width: 20%;
	float: left;
	padding-bottom: 20px;
}

#nav li a {
	display: block;
	margin-right: 100px;
	height: 70px;
	width: 70px;
	background: #fff;
	color: #777a74;
	text-align: center;
	line-height: 70px;
	font-weight: bold;
	font-size: 16px;
	 border-radius: 90px;
}

.pic img {
	width: 450px;

}

#main {
	background: #fff;
	min-height: 600px;
}

.content {
	padding: 20px 20px 30px;
	background: #eee;
	border-radius:20px;
	margin-bottom: 40px;
}

.box-wrapper h1 {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
    padding: 20px 0px;
}

.content .description {
	padding: 20px 0;
}

.content .pic {
	text-align: center;
}

.content .pic p {
	padding: 5px 0;
}

.footer {
	background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
	padding: 15px 0 15px;
	text-align: center;
	margin-bottom: 0px;
}

.bandge {
	margin-top: 10px;
}

/*测试----------------------*/

.text2{
	padding-bottom: 30px;
}
.text2 img{
	border-radius: 15px;
	transition: transform 0.3s;
}
.text2 img:hover{
	transform: scale(1.05,1.05);
}
.text2 h1{
	text-align: center;
	padding: 20px 0px;
}

.text2 .col-m-4{
	margin-bottom: 10px;
}
.text2 .col-m-6{
	margin-bottom: 10px;
}
.text2 .more{
	text-align: center;
	margin-top: 30px;
}

.saying{
	margin-top: 10px;
}
